body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  background-color: #1F2937;
}



.header {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #1F2937;
    padding: 30px;
}


.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin-right: auto;

}

.nav_links{
    list-style: none;
}

.nav_links{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.section1 .subtext, a {
    /* this removes the line under our links */
    text-decoration: none;
    font-size: 18px;
    color: #f9faf8;
  }

.section1 {
    display: flex;
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color:#f9faf8;
}

.subtext {
    margin-left: 90px;
}

.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
}

.section1_image {
    margin: 50px;
    width: 400px;
}


.sign-up {
    background-color: #3882F6;
    color: #f9faf8;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 10px;

}

.info div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
  }
  
  .info h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
  }
  
  .info-boxes img {
    border: 4px solid #3882f6;
    border-radius: 16px;
    padding: 16px;
    height: 100px;
    flex: auto;
  }
  
  .info-boxes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin-top: 16px;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
  }
  
  .quote h6,
  .quote p {
    margin: 0;
    padding: 0;
    max-width: 66%;
    width: 100%;
  }
  
  .quote h6 {
    text-align: end;
    color: #1f2937;
  }
  
  .quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    padding: 128px 0;
    height: 100%;
  }
  
  .modal-mom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 0;
  }
  
  button,
  .modal {
    background-color: #3882f6;
    border-radius: 6px;
    border: none;
    color: #f9faf8;
  }
  
  .modal button {
    border: 2px solid white;
  }
  
  .modal-info h3,
  .modal-info p {
    margin: 0;
  }
  
  .modal-info p {
    margin-top: 8px;
  }
  
  .modal-info {
    flex: auto;
  }
  
  .modal {
    max-width: 66%;
    width: 100%;
    display: flex;
    gap: 32px;
    padding: 48px 8%;
  }
  
  .buttons {
    display: flex;
    align-items: center;
  }
  
  footer {
    color: #e5e7eb;
    text-align: center;
    padding: 16px;
  }
 